<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home</title>

</head>

<body>
<section layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div th:each="blog : ${blogs}" class="row post">
                    <div class="col-md-4">
                        <img class="img-thumbnail" th:src="@{/image/__${blog.image}__}">
                    </div>
                    <div class="col-md-12">
                        <a th:href="@{/blog/view/__${blog.id}__}"><h3 th:text="${blog.title}"></h3></a>
                    </div>
                    <div class="col-md-7 post-teaser" th:utext="${blog.summary}"></div>
                    <div class="col-md-12 post-meta">
                        <span th:text="${blog.createDate}"></span>
                        <span th:text="${blog.category.name}"></span>
                    </div>
                </div>
                <div>
                    <a th:href="@{'/'(page=${blogs.number - 1})}" th:if="${blogs.hasPrevious()}">Previous</a>
                    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
                    <a th:href="@{'/'(page=${blogs.number + 2})}" th:if="${blogs.hasNext()}">Next</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card my-4">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <th:block>
                                        <li th:each="category:${categories}">
                                            <a th:href="@{#}"><span th:text="${category.name}"></span></a>
                                        </li>
                                    </th:block>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

</body>

</html>
