<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Create New Category</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <a th:href="@{/category/list}">Back to Categories list</a>

        <th:block th:if="${message}">
            <p th:text="${message}"></p>
        </th:block>

        <form method="post" th:action="@{/category/create}" th:object="${category}">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" th:field="*{name}"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="btn btn-primary" type="submit">Create</button></td>
                </tr>
            </table>
        </form>
    </div>
</section>

</body>
</html>