<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Delete Category</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <a th:href="@{/category/list}">Back to categories list</a>

        <form method="post" th:action="@{/category/delete}" th:object="${category}">
            <input type="hidden" th:field="*{id}">
            <table>
                <tr>
                    <td>Category Name:</td>
                    <td th:text="${category.name}"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="btn btn-primary" type="submit">Delete</button></td>
                </tr>
            </table>
        </form>
    </div>

</section>
</body>
</html>