<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Update Category</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <form method="post" th:action="@{category/edit}" th:object="${category}">
                <div class="form-group">
                    <input type="hidden" th:field="*{id}"/>
                </div>
                <div class="form-group">
                    <label for="category-name">Category Name:</label>
                    <input class="form-control" id="category-name" type="text" th:field="*{name}"/>
                </div>
                <div class="form-group">
                    <label for="btn"></label>
                    <button class="btn btn-primary" id="btn" type="submit">Update</button>
                </div>
        </form>
    </div>
</section>
</body>
</html>