<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Delete Blog</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <form method="post" th:object="${post}" th:action="@{/post/delete/__${post.id}__}">
            <input class="form-control" type="hidden" th:field="*{id}"/>
            <div class="col-md-4">
                <img class="img-thumbnail" th:src="@{/image/__${post.image}__}">
                <p th:text="${post.createDate}"></p>
            </div>
            <div class="form-group">
                <label><h3 th:text="${post.title}"></h3></label>
            </div>
            <div class="form-group">
                <label><p th:text="${post.summary}"></p></label>
            </div>
            <div class="form-group">
                <label><p th:text="${post.content}"></p></label>
            </div>
            <div class="form-group">
                <label>
                    <p>Thể Loại: <span th:text="${post.category.name}"></span></p>
                </label>
            </div>
            <button class="btn btn-primary" type="submit">Delete</button>
        </form>
    </div>
</section>
</body>
</html>