<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Blog</title>
</head>
<body>
<a th:href="@{/blog/list}">Back To Blog</a>

<form method="post" th:object="${blog}" th:action="@{/blog/delete}">
    <input type="hidden" th:field="*{id}"/>
    <table>
        <tr>
            <td><h3 th:text="${blog.title}"></h3></td>
        </tr>
        <tr>
            <td><p th:text="${blog.summary}"></p></td>
        </tr>
        <tr>
            <td><p th:text="${blog.content}"></p></td>
        </tr>
        <tr>
            <td>
                <p>Thể Loại: <span th:text="${blog.category.name}"></span> </p>
            </td>
        </tr>
    </table>
    <input type="submit" value="Delete">
</form>
</body>
</html>