<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Blog</title>
</head>
<body>
<a th:href="@{/blog/list}">Back To Blog</a>

<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/blog/edit}" th:object="${blog}" method="post">
    <input type="hidden" name="id" th:field="*{id}"/>

    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td>Summary:</td>
            <td><textarea th:field="*{summary}"/></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><textarea th:field="*{content}"/></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select th:field="*{category}">
                    <option th:each="category:${categories}"
                            th:value="${category.id}"
                            th:text="${category.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update"/></td>
        </tr>
    </table>
</form>
</body>
</html>