<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Edit Blog</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <th:block th:if="${message}">
            <p th:text="${message}"></p>
        </th:block>
        <form th:action="@{/post/edit/__${postForm.id}__}" th:object="${postForm}" method="post" enctype="multipart/form-data">
            <input class="form-control" type="hidden" name="id" th:field="*{id}"/>
            <div class="form-group">
                <label for="post-title">Title:</label>
                <input class="form-control" id="post-title" type="text" th:field="*{title}"/>
            </div>
            <div class="form-group">
                <label for="post-summary">Summary:</label>
                <textarea class="form-control" id="post-summary" th:field="*{summary}"></textarea>
            </div>
            <div class="form-group">
                <label for="post-content">Content:</label>
                <textarea class="form-control" id="post-content" th:field="*{content}"></textarea>
            </div>
            <div class="form-group col-md-2">
                <label for="post-category">Category:</label>
                <select class="form-control" id="post-category" th:field="*{category}">
                    <option th:each="cate:${categories}"
                            th:value="${cate.id}"
                            th:text="${cate.name}"
                            th:selected="${cate.id == postForm.category.id}"></option>
                </select>
            </div>
            <div class="col-md-4">
                <img class="img-thumbnail" th:src="@{/image/__${postForm.imageUrl}__}">
                <p th:text="${postForm.createDate}"></p>
            </div>
            <div class="form-group">
                <label>Feature image:</label>
                <input type="file" th:field="*{image}"/>
            </div>
            <div class="form-group">
                <label for="btn"></label>
                <button class="btn btn-primary" id="btn" type="submit">Update</button>
            </div>
        </form>
    </div>
</section>
</body>
</html>