<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blogs</title>
</head>
<body>
<h3>Blogs</h3>

<a th:href="@{/category/list}">Categories</a>

<a th:href="@{/blog/create}">Create New Blog</a>

<th:block th:each="blog:${blogs}">
    <ul>
        <li><a th:href="@{/blog/view/__${blog.id}__}"><h3 th:text="${blog.title}"></h3></a></li>
        <li>
            <p th:text="${blog.summary}"></p>
            <a th:href="@{/blog/view/__${blog.id}__}">Xem them</a><br>
        </li>
        <li>
            <p>Thể Loại: <span th:text="${blog.category.name}"></span></p>
        </li>
        <li>
            <a th:href="@{/blog/edit/__${blog.id}__}">Edit</a>
            <a th:href="@{/blog/delete/__${blog.id}__}">Delete</a>
        </li>
    </ul>
</th:block>
</body>
</html>