<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="col-md-8">
            <div class="col-md-4">
                <img class="img-thumbnail" th:src="@{/image/__${post.image}__}">
                <p th:text="${post.createDate}"></p>
            </div>
            <h3 th:text="${post.title}"></h3> (<a th:href="@{/post/edit/__${post.id}__}">Edit</a>)
            (<a th:href="@{/post/delete/__${post.id}__}">Delete</a>)
            <div class="post-single-meta">
                <span th:text="${post.createDate}"></span>
            </div>
            <div class="post-single-teaser" th:utext="${post.summary}"></div>
            <div class="post-single-content" th:utext="${post.content}"></div>
        </div>
    </div>
</section>
</body>
</html>